div{
    width: 400px;
    background-color: blue;
    margin: 100px auto;
    padding: 30px;
    border: 5px solid black;
    box-shadow: 5px 4px 8px 8px rgb(223, 63, 180);
}
p{
    background-color: brown;
    color: white;
    padding: 20px;
    text-align: justify;
    box-shadow: 7px 4px 9px 5px rgb(54, 21, 1);
    text-shadow: 6px 4px 5px rgb(68, 200, 47);

}